<h1 class"h1">Clientes</h1>

<br/><br/>

<div>
  <div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad de Pedidos</th>
          </tr>
        </thead>
        <tbody>
          <% if @clients.present? %>
            <% @clients.each do |client| %>
              <tr>
                <td>
                  <%= link_to client.name, client %>
                </td>
                <td> <%= client.orders.count %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @clients %>
    <div>
      <% if policy(Client).new? %>
        <%= link_to 'Nuevo Cliente', new_client_path, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>
