<tr class="nested-fields">
  <td> <%= f.input :quantity,                 label: false, class: "form-control", readonly: true %> </td>
  <td> <%= f.input :description,              label: false, class: "form-control", readonly: true %> </td>
  <td> <%= f.input :details,                  label: false, class: "form-control" %> </td>
  <td class="bools"> <%= f.association :article_state, label: false, class: "form-control" %> </td>
</tr>
