<div class="row justify-content-center">
  <h1 class"h1">Pedidos</h1>
</div>

<div>
  <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Direccion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Procesado</th>
            <th scope="col">Entregado</th>
            <th scope="col">Facturado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if (current_user.has_role?(:admin) || current_user.has_role?(:vendor))  %>
            <%= render "vendor_index" %>
          <% else %>
            <%= render "worker_index" %>
          <% end %>
        </tbody>
      </table>
    <div>
      <div class="row justify-content-center">
        <% if policy(Order).new? %>
          <%= link_to 'Nuevo Pedido', new_order_path, class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
