// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  padding-top: 20px;
  width: 100%;
  margin-top: 0px; // accommodate the navbar
}

.description {
  width: 20%;
}

.details {
  width: 20%;
}

.quantity {
  width: 80px;
}
.measure-long {
  width: 100px;
}

.bools {
  width: 100px;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  padding-bottom: 40px;
}

.authform .button {
  @extend .btn;
  @extend .btn-primary;
}

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
