// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

main {
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-top: 20px;
  width: 100%;
  margin-top: 0px; // accommodate the navbar
}

.description {
  width: 30%;
}

.worker-description {
  width: 50%;
}

.worker-details {
  width: 50%;
}

.details {
  width: 20%;
}

.quantity {
  width: 80px;
}
.measure-long {
  width: 100px;
}

th.bools-header {
  @extend .text-center;
  width: 100px;
}

th.state-header {
  @extend .text-center;
  width: 145px;
}

td.bools {
  @extend .text-center;
}

.view {
  width: 13%;
  @extend .text-center;
}

.date {
  @extend .text-center;
  width: 7%;
}

th.client {
  width: 20%;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  padding-bottom: 40px;
}

.authform .button {
  @extend .btn;
  @extend .btn-primary;
}

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  max-height: 300px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
