<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to "Pedidos", orders_path, class: "nav-link #{current_class?(orders_path)}" %>
  </li>
  <% if policy(Client).index?%>
    <li class="nav-item">
      <%= link_to "Clientes", clients_path, class: "nav-link #{current_class?(clients_path)}" %>
    </li>
  <% end %>
  <% if policy(Area).index?%>
    <li class="nav-item">
      <%= link_to "Reparto", areas_path, class: "nav-link #{current_class?(areas_path)}" %>
    </li>
  <% end %>
  <% if current_user.has_role? :admin %>
    <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
  <% end %>
<% end %>
